# SQL query from table names - Continued

In [1]:
from openai import OpenAI
import os
from dotenv import load_dotenv, find_dotenv
_ = load_dotenv(find_dotenv())

OPENAI_API_KEY  = os.getenv('OPENAI_API_KEY')

## The old Prompt

In [2]:
#The old prompt
old_context = [ {'role':'system', 'content':"""
you are a bot to assist in create SQL commands, all your answers should start with \
this is your SQL, and after that an SQL that can do what the user request. \
Your Database is composed by a SQL database with some tables. \
Try to maintain the SQL order simple.
Put the SQL command in white letters with a black background, and just after \
a simple and concise text explaining how it works.
If the user ask for something that can not be solved with an SQL Order \
just answer something nice and simple, maximum 10 words, asking him for something that \
can be solved with SQL.
"""} ]

old_context.append( {'role':'system', 'content':"""
first table:
{
  "tableName": "employees",
  "fields": [
    {
      "nombre": "ID_usr",
      "tipo": "int"
    },
    {
      "nombre": "name",
      "tipo": "varchar"
    }
  ]
}
"""
})

old_context.append( {'role':'system', 'content':"""
second table:
{
  "tableName": "salary",
  "fields": [
    {
      "nombre": "ID_usr",
      "type": "int"
    },
    {
      "name": "year",
      "type": "date"
    },
    {
      "name": "salary",
      "type": "float"
    }
  ]
}
"""
})

old_context.append( {'role':'system', 'content':"""
third table:
{
  "tablename": "studies",
  "fields": [
    {
      "name": "ID",
      "type": "int"
    },
    {
      "name": "ID_usr",
      "type": "int"
    },
    {
      "name": "educational_level",
      "type": "int"
    },
    {
      "name": "Institution",
      "type": "varchar"
    },
    {
      "name": "Years",
      "type": "date"
    }
    {
      "name": "Speciality",
      "type": "varchar"
    }
  ]
}
"""
})

## New Prompt.
We are going to improve it following the instructions of a Paper from the Ohio University: [How to Prompt LLMs for Text-to-SQL: A Study in Zero-shot, Single-domain, and Cross-domain Settings](https://arxiv.org/abs/2305.11853). I recommend you read that paper.

For each table, we will define the structure using the same syntax as in a SQL create table command, and add the sample rows of the content.

Finally, at the end of the prompt, we'll include some example queries with the SQL that the model should generate. This technique is called Few-Shot Samples, in which we provide the prompt with some examples to assist it in generating the correct SQL.

In [11]:
context = [ {'role':'system', 'content':"""
first table:
{
  "tableName": "employees",
  "fields": [
    {
      "nombre": "ID_usr",
      "tipo": "int"
    },
    {
      "nombre": "name",
      "tipo": "varchar"
    }
  ]
}

second table:
{
  "tableName": "salary",
  "fields": [
    {
      "nombre": "ID_usr",
      "type": "int"
    },
    {
      "name": "year",
      "type": "date"
    },
    {
      "name": "salary",
      "type": "float"
    }
  ]
}

})

{
  "tablename": "studies",
  "fields": [
    {
      "name": "ID",
      "type": "int"
    },
    {
      "name": "ID_usr",
      "type": "int"
    },
    {
      "name": "educational_level",
      "type": "int"
    },
    {
      "name": "Institution",
      "type": "varchar"
    },
    {
      "name": "Years",
      "type": "date"
    }
    {
      "name": "Speciality",
      "type": "varchar"
    }
  ]
}

"""} ]

In [12]:
#FEW SHOT SAMPLES
context.append( {'role':'system', 'content':"""
 -- Maintain the SQL order simple and efficient as you can, using valid SQL Lite, answer the following questions for the table provided above.
user: List all employees.
system: SELECT ID_usr, name
FROM employees;

user: Find the salary of employee with ID 5 for the year 2022.
system: SELECT salary
FROM salary
WHERE ID_usr = 5 AND year = '2022-01-01';

user: Get the educational details of employee with ID 3.
system: SELECT educational_level, Institution, Years, Speciality
FROM studies
WHERE ID_usr = 3;

user: List all employees and their salaries for the year 2021.
system: SELECT e.ID_usr, e.name, s.salary
FROM employees e
JOIN salary s ON e.ID_usr = s.ID_usr
WHERE s.year = '2021-01-01';

"""
})

In [13]:
#Function to call the model.
def return_CCRMSQL(user_message, context):
    client = OpenAI(
    # This is the default and can be omitted
    api_key=OPENAI_API_KEY,
)

    newcontext = context.copy()
    newcontext.append({'role':'user', 'content':"question: " + user_message})

    response = client.chat.completions.create(
            model="gpt-3.5-turbo",
            messages=newcontext,
            temperature=0,
        )

    return (response.choices[0].message.content)

## NL2SQL Samples
We're going to review some examples generated with the old prompt and others with the new prompt.

In [14]:
#new
context_user = context.copy()
print(return_CCRMSQL("Find all employees with educational level 4.", context_user))

SELECT e.ID_usr, e.name
FROM employees e
JOIN studies s ON e.ID_usr = s.ID_usr
WHERE s.educational_level = 4;

In [15]:
#old
old_context_user = old_context.copy()
print(return_CCRMSQL("Find all employees with educational level 4.", old_context_user))

This is your SQL:
```sql
SELECT e.name
FROM employees e
JOIN studies s ON e.ID_usr = s.ID_usr
WHERE s.educational_level = 4;
```

This SQL query selects the names of employees from the "employees" table who have an educational level of 4. It achieves this by joining the "employees" table with the "studies" table on the ID_usr field and filtering the results based on the educational_level field being equal to 4.

In [16]:
#new
print(return_CCRMSQL("Get the salary history of employee with ID 2.", context_user))

SELECT year, salary
FROM salary
WHERE ID_usr = 2;

In [17]:
#old
print(return_CCRMSQL("Get the salary history of employee with ID 2.", old_context_user))

This is your SQL:
```sql
SELECT * FROM salary WHERE ID_usr = 2;
```

Explanation: The SQL command selects all the records from the "salary" table where the "ID_usr" is equal to 2, providing the salary history of the employee with ID 2.

# Exercise
 - Complete the prompts similar to what we did in class. 
     - Try at least 3 versions
     - Be creative
 - Write a one page report summarizing your findings.
     - Were there variations that didn't work well? i.e., where GPT either hallucinated or wrong.
     - What did you learn?

In [31]:
context = [ {'role':'system', 'content':"""
{
  "tablename": "instructors",
  "fields": [
    {
      "name": "instructor_id",
      "type": "int"
    },
    {
      "name": "first_name",
      "type": "varchar"
    },
    {
      "name": "last_name",
      "type": "varchar"
    },
    {
      "name": "department",
      "type": "varchar"
    },
    {
      "name": "hire_date",
      "type": "date"
    }
  ]
}

{
  "tablename": "enrollments",
  "fields": [
    {
      "name": "enrollment_id",
      "type": "int"
    },
    {
      "name": "student_id",
      "type": "int"
    },
    {
      "name": "course_id",
      "type": "int"
    },
    {
      "name": "enrollment_date",
      "type": "date"
    },
    {
      "name": "status",
      "type": "varchar"
    }
  ]
}
{
  "tablename": "courses",
  "fields": [
    {
      "name": "course_id",
      "type": "int"
    },
    {
      "name": "course_name",
      "type": "varchar"
    },
    {
      "name": "instructor_id",
      "type": "int"
    },
    {
      "name": "start_date",
      "type": "date"
    },
    {
      "name": "end_date",
      "type": "date"
    },
    {
      "name": "credits",
      "type": "int"
    }
  ]
}

"""} ]

In [32]:
#FEW SHOT SAMPLES
context.append( {'role':'system', 'content':"""
 -- Maintain the SQL order simple and efficient as you can, using valid SQL Lite, answer the following questions for the table provided above.
user: List all courses
system: SELECT course_id, course_name, start_date, end_date, credits
FROM courses;

user: Find all students enrolled in course with ID 101.
system: SELECT student_id, enrollment_date, status
FROM enrollments
WHERE course_id = 101;

user: Get the instructor details for the course 'Database Systems'.
system: SELECT i.instructor_id, i.first_name, i.last_name, i.department, i.hire_date
FROM instructors i
JOIN courses c ON i.instructor_id = c.instructor_id
WHERE c.course_name = 'Database Systems';

"""
})

In [33]:
#Function to call the model.
def return_CCRMSQL(user_message, context):
    client = OpenAI(
    # This is the default and can be omitted
    api_key=OPENAI_API_KEY,
)

    newcontext = context.copy()
    newcontext.append({'role':'user', 'content':"question: " + user_message})

    response = client.chat.completions.create(
            model="gpt-3.5-turbo",
            messages=newcontext,
            temperature=0,
        )

    return (response.choices[0].message.content)

In [34]:
print(return_CCRMSQL("Get enrollment status of students for course ID 202.", context_user))

As per the provided table structures, there is no table related to student enrollment status for courses or course IDs. If you have a specific table structure for student enrollment in courses, please provide that information so that I can assist you further.

In [29]:
print(return_CCRMSQL("Find all instructors in the Computer Science department.", context_user))

As per the provided table structure, there is no explicit field indicating the department of the instructors. To identify instructors in the Computer Science department, we would need an additional field in one of the tables that specifies the department or a separate table that links instructors to departments. Without this information, it is not possible to directly query for instructors in the Computer Science department.

In [30]:
print(return_CCRMSQL("List all courses taught by the instructor with ID 5.", context_user))

SELECT *
FROM courses
WHERE instructor_id = 5;